In [1]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score

In [2]:
# Sample data: Years of Experience vs Salary
data = {
    'YearsExperience': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
    'Salary': [40000, 42000, 50000, 52000, 60000, 62000, 70000, 72000, 80000, 82000]
}

In [3]:
# Create a DataFrame
df = pd.DataFrame(data)
df

   YearsExperience  Salary
0                1   40000
1                2   42000
2                3   50000
3                4   52000
4                5   60000
5                6   62000
6                7   70000
7                8   72000
8                9   80000
9               10   82000

In [4]:
# Independent variable (X) and dependent variable (y)
X = df[['YearsExperience']]
y = df['Salary']

In [5]:
# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [6]:
# Create a linear regression model
model = LinearRegression()

In [7]:
# Train the model
model.fit(X_train, y_train)

LinearRegression()

In [8]:
# Make predictions on the test set
y_pred = model.predict(X_test)
y_pred

array([77413.79310345, 44586.20689655])

In [9]:
# Model evaluation
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

In [10]:
print("Mean Squared Error:", mse)
print("R-squared:", r2)

Mean Squared Error: 6688466.111771647
R-squared: 0.9814723930421838

In [11]:
# Display the coefficients
print("Intercept:", model.intercept_)
print("Coefficient:", model.coef_[0])

Intercept: 35206.89655172413
Coefficient: 4689.655172413794

In [12]:
# Prediction for a new value
years_experience = 5
predicted_salary = model.predict([[years_experience]])
print(f"Predicted Salary for {years_experience} years of experience: ${predicted_salary[0]:,.2f}")

Predicted Salary for 5 years of experience: $58,655.17

C:\Users\User\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [ ]:
def smallest_prime_value(n: int) -> int:
    def is_prime(x):
        if x < 2:
            return False
        for i in range(2, int(x**0.5) + 1):
            if x % i == 0:
                return False
        return True

    def prime_factors(x):
        factors = []
        temp_x = x  # introduce a temporary variable
        for i in range(2, temp_x + 1):
            if is_prime(i) and x % i == 0:
                factors.append(i)
                while x % i == 0:
                    x //= i
        return factors

    while n > 1:
        factors = prime_factors(n)
        n = sum(factors)
    return n

if __name__ == '__main__':
    n = int(input("Enter a number: "))
    print("Smallest prime value:", smallest_prime_value(n))

In [ ]:
import math
n = 100

def prime_factors(n):
    factors = []
    # Divide by 2 until n becomes odd
    while n % 2 == 0:
        factors.append(2)
        n = n // 2
    
    # n must be odd at this point, so we can skip even numbers
    for i in range(3, int(math.sqrt(n)) + 1, 2):
        while n % i == 0:
            factors.append(i)
            n = n // i
    
    # This condition is for the case when n is a prime number
    if n > 2:
        factors.append(n)
    
    return factors

def smallest_number(n):
    while n > 9:
        factors = prime_factors(n)
        n = sum(factors)
    return n

# Example usage:
n = 100
result = smallest_number(n)
print(f"The smallest number that {n} can become is {result}")

In [ ]:
result

In [ ]:
import math

def prime_factors(n):
    factors = []
    # Divide by 2 until n becomes odd
    while n % 2 == 0:
        factors.append(2)
        n = n // 2
    
    # n must be odd at this point, so we can skip even numbers
    for i in range(3, int(math.sqrt(n)) + 1, 2):
        while n % i == 0:
            factors.append(i)
            n = n // i
    
    # This condition is for the case when n is a prime number
    if n > 2:
        factors.append(n)
    
    return factors

def smallest_number(n):
    print(f"Starting with n = {n}")
    while n > 9:
        factors = prime_factors(n)
        print(f"Prime factors of {n}: {factors}")
        n = sum(factors)
        print(f"Sum of prime factors: {n}")
    
    print(f"The smallest number that n can become is {n}")
    return n

# Example usage:
n = 100
result = smallest_number(n)

## Ridge Regression

In [ ]:
from sklearn.linear_model import Ridge
ridge = Ridge().fit(X_train, y_train)
print("Training set score: {:.2f}".format(ridge.score(X_train, y_train)))
print("Test set score: {:.2f}".format(ridge.score(X_test, y_test)))